
body {
  color: var(--font-color);
		background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,.06) 0%, rgba(148, 148, 148,.06) 50%,rgba(63, 63, 63,.06) 50%, rgba(63, 63, 63,.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,.06) 0%, rgba(66, 66, 66,.06) 50%,rgba(105, 105, 105,.06) 50%, rgba(105, 105, 105,.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,.06) 0%, rgba(123, 123, 123,.06) 50%,rgba(172, 172, 172,.06) 50%, rgba(172, 172, 172,.06) 100%),linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
	 background-attachment: fixed;
	 background-repeat: no-repeat;
	 font-family: 'Noto Sans', sans-serif;
}
.btns{
    width: 12rem;
    height: 3rem;
    padding: 0.4rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 5rem;
    opacity: 0.8;
    background-color: #5cb85c;
    margin-left: 3rem;
  
    
  }
  .btns:hover {
    opacity: 1;
  }
input{
  width: 22rem;
    height: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}
